input[type=text],input[type=numbers],input[type=email]{
	max-width:500px;
	padding-left:10px;
	margin:auto;
	border-radius:5px;
}
form{
	color:white;
	background-color:gray;
	border:2px dotted red;
}
input[type=text]:focus,input[type=numbers]:focus,input[type=email]:focus{
	border-bottom:3px solid red;
	background-color:blue;
	color:white;
}
input[type=submit]{
	max-width:200px;
	background-color:green;
	margin:auto;
	color:white;
	text-align:center;
}