a:link{
	color: red;
	background-color: pink;
}
a:visited{
	color: red;
	background-color: pink;
}
a:hover{
	background-color: gray;
	color: white;
	border: 2px solid red;
}
body{
	text-align: center;
	font-family:"sofia";
	background: linear-gradient(to bottom, #3366cc 1%, #cc0066 139%);
	padding-top: 100px;
}
ul{
	list-style-position: inside;
	list-style-image: url('tick.png');
	padding: 10px;
	margin: 10px;
	font-size: 30px;
}
